<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
	<!-- local profile logs to stdout -->
	<springProfile name="local">
	
		<appender name="STDOUT"
			class="ch.qos.logback.core.ConsoleAppender">
			<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
				<Pattern>
					%green(%d{yyyy-MM-dd HH:mm:ss}) %magenta([%thread]) %blue(%-5level) %yellow(%logger{36}) - %msg%n
				</Pattern>
			</encoder>
		</appender>
		
		<root>
			<appender-ref ref="STDOUT" />
		</root>
		
	</springProfile>

	<!-- not local profile logs to logstash -->
	<springProfile name="!local">
	
		<appender name="LOGSTASH"
			class="net.logstash.logback.appender.LogstashTcpSocketAppender">
			<destination>${LOGSTASH_URL}</destination> 
			<encoder
				class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
				<providers>
					<mdc />
					<context />
					<version />
					<logLevel />
					<loggerName />
					<message />
					<pattern>
						<pattern>
							{
								"appName": "@project.artifactId@",
								"serviceName": "@project.artifactId@",
								"profileName": "${PROFILE}",
								"type": "logback" 
							}
						</pattern>
					</pattern>
					<threadName />
					<stackTrace />
				</providers>
			</encoder>
		</appender>
		
		<root>
			<appender-ref ref="LOGSTASH" />
		</root>
		
	</springProfile>
</configuration>
